
.content-meta-parent {

  margin-top: 2.5px;
  margin-bottom: -5px;
  padding: 0px;
  color: var(--gray);
  gap: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.content-meta {
  margin-top: 0px;
  color: var(--gray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}

.content-meta-author-list {
  margin-top: 0;
  color: var(--gray);
  display: inline-block;

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}


.content_author {
  margin-top: -20px;
  padding: 0px;
  color: var(--gray); 
  display: inline-block;
}
