---
title: Test Run
draft: true
tags: 
Authors:
  - Sritha
---
---
# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

| <center>heading 1</center> | heading 2 |
| -------------------------- | --------- |
| formula 1                  | formula 2 |

[[Unit A.5 - Galilean and special relativity|unit 8.5]]
![[3 - Data analysis and modelling physics]]
![[A.1 - independent motion 1.svg]]

>[!info] Dogs
>dogs

# Latex

$x=y+1+\dfrac{x}{y}$


|     |     |
| --- | --- |
|     |     |
