@use "./base.scss";

// put your custom CSS here!

pre {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: var(--light);
    font-family: var(--bodyFont);
    color: var(--darkgray);
    border : 0px solid var(--lightgray); //
    line-height: 1.6rem; //
    
}

